@charset "utf-8";


/* 폰트세팅 ///////////////////////////////////////////////////////////////////////*/
/* 구글폰트 - 영문 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Montserrat:100,200,300,400,500,600,700,800,900|Dosis:200,300,400,500,600,700,800|Poppins:200,300,400,500,600,700,800');
/* 나눔스케어 - 국문 */
@font-face {
  font-family: 'NanumSquare';
  font-weight:300;
  src: url('/resources/font/NanumSquareL.eot');
  src: local('※'), url('/resources/font/NanumSquareL.eot?#iefix') format('embedded-opentype'),
       url('/resources/font/NanumSquareL.woff') format('woff');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight:400;
  src: url('/resources/font/NanumSquareR.eot');
  src: local('※'), url('/resources/font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
       url('/resources/font/NanumSquareR.woff') format('woff'),
       url('/resources/font/NanumSquareR.woff2') format('woff');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight:700;
  src: url('/resources/font/NanumSquareB.eot');
  src: local('※'), url('/resources/font/NanumSquareB.eot?#iefix') format('embedded-opentype'),
       url('/resources/font/NanumSquareB.woff') format('woff');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight:800;
  src: url('/resources/font/NanumSquareEB.eot');
  src: local('※'), url('/resources/font/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
       url('/resources/font/NanumSquareEB.woff') format('woff');
}