<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="title" content="COJAM " />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="robots" content="index, follow">
		<link rel="canonical" href="https://www.cojam.io/">
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="COJAM">
		<meta property="og:type" content="article">
		<meta property="og:url" content="https://www.cojam.io/">
		<meta property="og:title" content="COJAM">
		<meta property="og:image" content="/assets/image/common/meta_img.jpg">
		<meta property="og:description" content="" />
		<title>COJAM</title>
		<link href="/assets/css/style.css" rel="stylesheet">
		<link rel="shortcut icon" href="/assets/image/common/favicon.ico">
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/assets/js/jquery-3.3.1.js"></script>
		<script src="/assets/js/jquery-ui.js"></script>
		<script src="/assets/js/jquery-ui-timepicker-addon.js"></script>
    <script src="/assets/js/easing.js"></script>
    <script src="/assets/js/fontawesome.js"></script>
		<script src="/assets/js/swiper.js"></script>
		<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
		<script src="/assets/js/isotope.pkgd.min.js"></script>
		<script src="/assets/js/vegas.js"></script>
		<script src="/assets/js/fittext.js"></script>
		<script src="/assets/js/lettering.js"></script>
		<script src="/assets/js/textillate.js"></script>
		<script src="/assets/js/countup.js"></script>
    <script src="/assets/js/common.js"></script>
	</head>
	<body class="bg-service">
		<div class="wrap">
			


				<!-- 상단영역 -->
				<div id="header">
        </div>
        <!-- 상단영역 끝 -->


				<!-- 타이틀영역 -->
				<div class="title-area">
					Cojam Service
				</div>
				<!-- 타이틀영역 끝 -->


				
			  <div class="container-top-round">
					<!-- 서비스 -->
					<div class="service-content1">
						<h2>Whitepapers</h2>
						<ul class="sc1-top">
							<li>
								<p><img src="../../assets/image/common/service_icn04.png" alt=""></p>
								<h3>COJAM<br>WHTIEPAPERS</h3>
							</li>
							<li>
								<p><img src="../../assets/image/common/service_icn04.png" alt=""></p>
								<h3>COJAM<br>WHTIEPAPERS</h3>
							</li>
							<li>
								<p><img src="../../assets/image/common/service_icn04.png" alt=""></p>
								<h3>COJAM<br>WHTIEPAPERS</h3>
							</li>
						</ul>
						<ul class="sc1-bottom">
							<li>
								<p><img src="../../assets/image/common/service_icn04.png" alt=""></p>
								<h3>COJAM<br>WHTIEPAPERS</h3>
							</li>
							<li>
								<p><img src="../../assets/image/common/service_icn04.png" alt=""></p>
								<h3>COJAM<br>WHTIEPAPERS</h3>
							</li>
						</ul>
					</div>
					<div class="service-content2">
						<h2>How to use Prediction Ground COJAM</h2>
						<ul>
							<li>
								<p><img src="../../assets/image/common/service_img01.png" alt=""></p> 
								<dl>
									<dd>COJAM anytime, anywhere!</dd>
									<dt>Anytime, anywhere!<br>  You can enjou with Mobile.</dt>
								</dl>
							</li>
							<li>
								<p><img src="../../assets/image/common/service_img01.png" alt=""></p> 
								<dl>
									<dd>If you have any Questions, right now!</dd>
									<dt>Fill in the information about <br> the predicttive Ground and click the 'Complete' button to finish!</dt>
								</dl>
							</li>
							<li>
								<p><img src="../../assets/image/common/service_img01.png" alt=""></p> 
								<dl>
									<dd>Predictive Ground for various subjects!</dd>
									<dt>Add your opinion to the new daily predictive Ground and you get COJAM Point(CP)!</dt>
								</dl>
							</li>
						</ul>
					</div>
					<!-- 서비스 끝 -->
				</div>
				<div class="service-content3">
					<h2>Predictive Platform Process</h2>
					<div>
						<ul>
							<li>
								<div>
									<img src="../../assets/image/common/service_icn01.png" alt=""> 
								</div>
								<div>
									<h3> Creation </h3>
									<p>Make and Upload forecasts and hot issues arising from everyday life creative and unique.</p>
								</div>
							</li>
							<li>
								<div>
									<img src="../../assets/image/common/service_icn02.png" alt=""> 
								</div>
								<div>
									<h3> Report </h3>
									<p>Logically approach the answers to the forecast questions to widen the selection of participants and provide answers and wrong answers.</p>
								</div>
							</li>
						</ul>
						<ul>
							<li>
								<div>
									<img src="../../assets/image/common/service_icn03.png" alt=""> 
								</div>
								<div>
									<h3> Deposit </h3>
									<p>Participants find clues and information about the prediction questions and place deposits in the correct answers</p>
								</div>
							</li>
							<li>
								<div>
									<img src="../../assets/image/common/service_icn01.png" alt=""> 
								</div>
								<div>
									<h3> Results and Calculation </h3>
									<p>When the results are released reporters who induced the correct answer and participants who answered the correct answer will be reward.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="container-top-round">
					<div class="service-content4">
						<h2>How to</h2>
						<ul class="sc4-tab">
							<li>Sign in</li>
							<li>Create Grounds</li>
							<li>Paticipate Grounds</li>
						</ul>	
						<ul class="sc4-img">
							<li>
								<p><img src="../../assets/image/common/service_img03.png" alt=""></p>
							</li>
							<li>
								<p><img src="../../assets/image/common/service_img01.png" alt=""></p>
							</li>
							<li>
								<p><img src="../../assets/image/common/service_img01.png" alt=""></p>
							</li>
						</ul>							
					</div>
				</div>

				<div class="service-content5">
					<h2> Life is Always a Question!</h2>
					<p> Predicting and sharing answers to various questions is the goal of COJAM.</p>
				</div>


			<!-- 하단영역 -->
			<div id="footer">
			</div>
			<!-- 하단영역 끝 -->


			
		</div>
	</body>
</html>