<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/cms_default_layout">
<th:block layout:fragment="content">
    <div class="content">

        <div class="table-title">
            <h2><i class="uil uil-user"></i> Service Users </h2>
            <div>
                <a href="javascript:fnLockWallet();">Lockup</a>
                <a href="javascript:fnUnLockWallet();">Unlock</a>
                <a href="javascript:fnReject();">Reject</a>
                <a href="javascript:fnAccess();">Allow</a>
            </div>
        </div>
        <form th:name="boardFrm" th:method="GET" action="/cms/users">
            <input th:type="hidden" th:name="page" />
            <input th:type="hidden" th:name="orderType" />
            <input type="text" style="display: none"/>
            <div class="table-option">
                <div>
                    <input type="text"name="searchText" id="searchText" placeholder="검색어를 입력하세요."> <button  type="button"  onclick="fnSearch();"><i class="uil uil-search"></i></button>
                </div>
            </div>
        </form>

        <div class="table-default" id="memberList">
            <table style="width: 92%">
                <colgroup>
                    <col width="3%"/>
                    <col width="4%"/>
                    <col width="15%"/>
                    <col width="12%"/>
                    <col width="18%"/>
                    <col width="*"/>
                    <col width="18%"/>
                    <col width="6%"/>
                    <col width="6%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                </colgroup>
                <thead>
                <tr>
                    <td><input type="checkbox" name="xxx" value="yyy" class="checkAll"></td>
                    <td>No.</td>
                    <td>Authority</td>
                    <td>ID</td>
                    <td>E-mail</td>
                    <td>Wallet Address</td>
                    <td>Join Date</td>
                    <td>Lock</td>
                    <td>Access</td>
                    <td>Email verification</td>
                    <td>CODE</td>
                </tr>
                </thead>
                <tbody>
                <form name="memberForm" id="memberForm">
                    <th:block th:if="${memberList} !=null">

                        <tr th:each="item,i : ${memberList}">
                            <td><input type="checkbox" name="memberKeys" th:value="${item.memberKey}" class="check"></td>
                            <td th:text="${(pagination.totalListCnt - (i.index+(pagination.pageSize*(pagination.page-1))))}"></td>
                            <td>
                                <select name="memberRole">
                                    <option
                                            th:each="auth : ${authList}"
                                            th:value="${auth.authCode}"
                                            th:text="${auth.authName}"
                                            th:selected="${auth.authCode eq item.memberRole}"
                                    >Customer
                                    </option>
                                </select>
                            </td>
                            <td th:text="${item.memberId}"></td>
                            <td th:text="${item.memberEmail}"></td>
                            <td th:text="${item.walletAddress}"></td>
                            <td th:id="'joindate_'+${i.index}"></td>
                            <script>
                                /*<![CDATA[*/
                                userJoinCreatedDateTimeId = "joindate_[[${i.index}]]";
                                userJoinCreatedDateTime = "[[${item.createdDateTime}]]";
                                $('#'+userJoinCreatedDateTimeId).html(changeUtcToLocal(userJoinCreatedDateTime,'YYYY-MM-DD HH:mm'))
                                /*]]>*/

                            </script>
                            <td><p th:text="${item.walletLock}?'T':'F'" th:classappend="${item.walletLock}?'true':'false'"></p></td>
                            <td><p th:text="${item.access}?'T':'F'" th:classappend="${item.access}?'true':'false'"></p></td>
                            <td><p th:text="${item.certification}?'T':'F'" th:classappend="${item.certification}?'true':'false'"></p></td>
                            <td th:text="${item.fpNumber}"></td>
                        </tr>
                    </th:block>
                </form>
                </tbody>
            </table>

            <th:block th:if="${pagination} != null"
                      th:replace="thymeleaf/fragment/page :: paging-list(${pagination})"></th:block>

        </div>
    </div>

    <th:block layout:fragment="script">
        <script>
            $(document).ready(function () {
                fnGetList();
                $("#searchText").keydown(function(key) {
                    if (key.keyCode == 13) {
                        fnMovePage(1);
                    }
                });
            });

            function fnGetList() {
                ajaxView("/cms/users","POST",$("form[name=boardFrm]").serialize(),"memberList");
            }

            function fnMovePage(page) {
                $("input[name=page]").val(page);
                fnGetList();
            }

            let previous;
            $(document).on('focus click','select[name=memberRole]',function (e){
                previous = $(this).val();
            });

            $(document).on('change','select[name=memberRole]',function (e){
                const result = confirm("상태를 변경 하시겠습니까?");
                const index = $('select[name=memberRole]').index(this);
                if (result) {

                    $.ajax({
                        url: "/cms/member/changeAuth",
                        type: "POST",
                        data: {
                            "memberRole" : $(this).val()
                            ,"memberKey" : $("input[name=memberKeys]").eq(index).val()
                        },
                        success : function(response){
                            if(response.check){
                                toastr.success('success');
                                fnGetList();
                            } else {
                                toastr.error(response.message);
                                $('select[name=memberRole]').eq(index).val(previous).prop("selected", true);
                            }
                        },
                        error : function(error){
                            toastr.error(error.status,error.statusText);
                            $('select[name=memberRole]').eq(index).val(previous).prop("selected", true);
                        }
                    });
                } else{
                    $('select[name=memberRole]').eq(index).val(previous).prop("selected", true);

                }
            });

            function fnSearch(){
                fnMovePage(1);
            }

            function fnLockWallet(){
                if(!$('input:checkbox[name="memberKeys"]').is(":checked")){
                    toastr.warning('Please select a check box');
                    return;
                }

                const lists = [];
                $("input[name='memberKeys']:checked").each(function(i){   //jQuery로 for문 돌면서 check 된값 배열에 담는다
                    lists.push($(this).val());
                });


                const result = confirm("Would you like to change the state to 'Lock'?");
                if (result) {
                    $.ajax({
                        url: "/cms/member/lockWallet",
                        type: "POST",
                        data: {
                            'memberKeys':lists
                        },
                        success : function(response){
                            if(response.check){
                                toastr.success('success');
                                fnGetList();
                            } else {
                                toastr.error(response.message);
                            }
                        },
                        error : function(error){
                            toastr.error(error.status,error.statusText);
                        }
                    });
                }
            }


            function fnUnLockWallet(){
                if(!$('input:checkbox[name="memberKeys"]').is(":checked")){
                    toastr.warning('Please select a check box');
                    return;
                }

                const lists = [];
                $("input[name='memberKeys']:checked").each(function(i){   //jQuery로 for문 돌면서 check 된값 배열에 담는다
                    lists.push($(this).val());
                });


                const result = confirm("Would you like to change the state to 'Lock'?");
                if (result) {
                    $.ajax({
                        url: "/cms/member/unLockWallet",
                        type: "POST",
                        data: {
                            'memberKeys':lists
                        },
                        success : function(response){
                            if(response.check){
                                toastr.success('success');
                                fnGetList();
                            } else {
                                toastr.error(response.message);
                            }
                        },
                        error : function(error){
                            toastr.error(error.status,error.statusText);
                        }
                    });
                }
            }



            function fnAccess(){
                if(!$('input:checkbox[name="memberKeys"]').is(":checked")){
                    toastr.warning('Please select a check box');
                    return;
                }

                const lists = [];
                $("input[name='memberKeys']:checked").each(function(i){   //jQuery로 for문 돌면서 check 된값 배열에 담는다
                    lists.push($(this).val());
                });


                const result = confirm("Would you like to change the state to 'Access'?");
                if (result) {
                    $.ajax({
                        url: "/cms/member/access",
                        type: "POST",
                        data: {
                            'memberKeys':lists
                        },
                        success : function(response){
                            if(response.check){
                                toastr.success('success');
                                fnGetList();
                            } else {
                                toastr.error(response.message);
                            }
                        },
                        error : function(error){
                            toastr.error(error.status,error.statusText);
                        }
                    });
                }
            }


            function fnReject(){
                if(!$('input:checkbox[name="memberKeys"]').is(":checked")){
                    toastr.warning('Please select a check box');
                    return;
                }

                const lists = [];
                $("input[name='memberKeys']:checked").each(function(i){   //jQuery로 for문 돌면서 check 된값 배열에 담는다
                    lists.push($(this).val());
                });


                const result = confirm("Would you like to change the state to 'Reject'?");
                if (result) {
                    $.ajax({
                        url: "/cms/member/reject",
                        type: "POST",
                        data: {
                            'memberKeys':lists
                        },
                        success : function(response){
                            if(response.check){
                                toastr.success('success');
                                fnGetList();
                            } else {
                                toastr.error(response.message);
                            }
                        },
                        error : function(error){
                            toastr.error(error.status,error.statusText);
                        }
                    });
                }
            }
        </script>
    </th:block>
</th:block>
</html>