<!-- 비밀번호 찾기 이메일 -->
<link href="http://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<div style="width:100%; height:100%; background:url('http://cojamdev.hiblocks.io/assets/image/content/member_visual_bg.png') center center no-repeat; background-size:cover;">
  <div style="position:absolute; top:50%; left:50%; width:450px; margin:-225px 0 0 -225px; padding:50px; border-radius:15px; box-shadow:0 0 25px rgba(0,0,0,0.1); background:#fff;">
    <h2 style="text-align:center;"><a href="/"><img src="http://cojamdev.hiblocks.io/assets/image/common/logo_black.png" alt="" title="" /></a></h2>
    <h3 style="margin-top:35px; text-align:center; font-family:Montserrat; font-weight:600; font-size:20px; line-height:28px; color:#222;">Forgot your password?</h3>
    <h4 style="margin-top:15px; text-align:center; font-family:Montserrat; font-weight:400; font-size:14px; line-height:20px;">Click the confirmation button below and change the password on the Cojam site.</h4>
    <p style="display:flex; justify-content:space-between; margin-top:20px;">
      <a href="#" target="_blank" style="display:inline-block; width:100%; padding:20px; text-align:center; font-family:Montserrat; font-weight:600; font-size:16px; line-height:16px; color:#fff; border-radius:7px; background:#222; overflow:hidden;">Confirm</a>
    </p>
  </div>
</div>
<!-- 비밀번호 찾기 이메일 끝 -->