<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/default_layout">

<th:block layout:fragment="css">
</th:block>


<div layout:fragment="content">
    <th:block  sec:authorize="hasAnyAuthority('ADMIN','VIP')" th:replace="thymeleaf/fragment/popup :: modalQuestAdd(${seasonCategoryList})"></th:block>

    <th:block  th:replace="thymeleaf/fragment/popup :: modalQuestSeason"></th:block>
    <!-- 기본영역 (타이틀/네비/버튼) -->
    <dl class="title-section">
        <dt>
            <h2 id="questCtgrText01">ALL</h2>
            <h3><i class="uil uil-estate"></i> Home · Quest · <span id="questCtgrText02">ALL</span></h3>
        </dt>
        <dd>
            <th:block sec:authorize="!isAuthenticated()">
                <a href="/login"><i class="uil uil-plus-circle"></i> <span>Create New Prediction</span></a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <th:block sec:authorize="hasAnyAuthority('ADMIN','VIP')">
                    <a href="#" data-izimodal-open="#modalQuestAdd" data-izimodal-transitionin="comingIn"><i class="uil uil-plus-circle"></i> <span>Create New Prediction</span></a>
                </th:block>
                <th:block sec:authorize="hasAnyAuthority('USER')">
                    <a href="javascript:toastr.warning('You do not have permission.');"><i class="uil uil-plus-circle"></i> <span>Create New Prediction</span></a>
                </th:block>
            </th:block>
            <a href="#" data-izimodal-open="#modalQuestSeason" data-izimodal-transitionin="comingIn"><i class="uil uil-info-circle"></i> <span>Season Info</span></a>
        </dd>
    </dl>
    <!-- 기본영역 끝 -->
    <form th:name="boardFrm" th:method="POST">
        <input th:type="hidden" th:name="seasonCategoryKey"/>
        <input th:type="hidden" th:name="page" />
        <input th:type="hidden" th:name="hot" />
    </form>


    <div class="container">
        <!-- 카타고리 영역 -->
        <div class="category-section">
            <dl>
                <dt>
                    <div class="swiper-wrapper questCtgrList">
                        <a href="#" class="swiper-slide active" data-ctgrKey="ALL">All</a>
                        <a href="#" class="swiper-slide" data-ctgrKey="HOT">Hot Quest</a>
                        <a href="#"
                                th:if="${seasonCategoryList} != null"
                                th:each="item : ${seasonCategoryList}"
                                th:text="${item.categoryName}"
                                th:attr="data-ctgrKey=${item.categoryKey}"
                            class="swiper-slide"
                        ></a>
                    </div>
                </dt>
                <dd class="questCtgrList">
                    <a href="#" data-ctgrKey="HISTORY"><i class="uil uil-history"></i><span>History</span></a>
                </dd>
            </dl>
        </div>
        <!-- 카타고리 영역 끝 -->
        <!-- 리스트 끝 -->
        <div class="quest-list-columns" id="questList">
            <ul>
                <th:block th:if="${questList}!=null">
                    <li th:each="item,i : ${questList}"
                        th:data-parameter1="${item.questKey}"
                        th:data-parameter2="${item.finished}"
                        th:onclick="fnMoveDetail(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'));"
                    >
                        <th:block th:if="${item.completed} or ${item.dDay} > 0">
                            <div>CLOSED</div>
                        </th:block>
                        <h2>Total <span th:text="${#numbers.formatInteger(item.totalAmount,0,'COMMA')}"></span> CT</h2>
                        <p>
                            <span th:style="'background:url(/user/media/image?id='+${item.fileKey}+') center no-repeat; background-size:cover;'"></span>
                        </p>
                        <h3 th:id="'endDate_'+${i.index}"><span>Voting Ends</span>&nbsp;</h3>
                        <script>
                            /*<![CDATA[*/
                            questEndDateTimeId = "endDate_[[${i.index}]]";
                            questEndDateTime = "[[${item.endDateTime}]]";
                            $('#'+questEndDateTimeId).append(changeUtcToLocal(questEndDateTime,'YYYY-MM-DD HH:mm(UTCZ)'))
                            /*]]>*/
                        </script>
                        <h4 th:text="${item.questTitle}"></h4>
                        <ul>
                            <li th:each=" subItem , i : ${#strings.arraySplit(item.answersStr,'^#')}"
                                th:with="answer=${#strings.arraySplit(subItem,'!+')}"
                            >
                                <div th:text="${answer[0]}"></div>
                                <p th:id="'answer_'+${item.questKey}+'_'+${i.index}"></p>
                                <h2 th:id="'answerPercent_'+${item.questKey}+'_'+${i.index}"></h2>
                                <script>
                                    /*<![CDATA[*/
                                    currentAnswerTotal = "[[${answer[1]}]]";
                                    totalAmount = "[[${item.totalAmount}]]";
                                    otherTotalToken = totalAmount - currentAnswerTotal;
                                    answerId = "answer_[[${item.questKey}]]_[[${i.index}]]";
                                    answerPercentId = "answerPercent_[[${item.questKey}]]_[[${i.index}]]";
                                    var x = currentAnswerTotal;
                                    var y = totalAmount;
                                    result = x / y * 100;
                                    percent = Number(result);
                                    /*]]>*/
                                    rateString = isNaN(Number(result).toFixed(2)) ? '0%' : Number(result).toFixed(2)+'% ('+currentAnswerTotal+' CT)';

                                    $('#'+answerId).text(rateString);
                                    if(totalAmount!=0){
                                        $('#'+answerPercentId).html('<div style="width:'+percent+'%;"></div>')
                                    }
                                </script>
                            </li>
                        </ul>
                    </li>
                </th:block>
            </ul>
            <th:block th:if="${totalListCnt > 0} ">
                <th:block th:if="${pagination} != null" th:replace="thymeleaf/fragment/page :: paging-list(${pagination})"></th:block>
            </th:block>
        </div>
        <!-- 리스트 끝 -->



        <!-- 등록버튼 -->
        <div class="add-btn">
            <th:block sec:authorize="!isAuthenticated()">
                <a href="/login" ><i class="uil uil-plus"></i></a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <th:block sec:authorize="hasAnyAuthority('ADMIN','VIP')">
                    <a href="#" data-izimodal-open="#modalQuestAdd" data-izimodal-transitionin="comingIn"><i class="uil uil-plus"></i></a>
                </th:block>
            </th:block>
        </div>
        <!-- 등록버튼 끝 -->
    </div>
    <th:block layout:fragment="script">
        <script>
            $("body").addClass("bg-quest");

            $(document).on('click','.questCtgrList > a',function (e){
                const data = $(this).attr('data-ctgrKey');
                $('.questCtgrList > a').removeClass('active');
                $(this).addClass('active');
                $('#questCtgrText01').text($(this).text());
                $('#questCtgrText02').text($(this).text());
                if(data == 'HOT'){
                    $('input[name=page]').val(1);
                    $('input[name=hot]').val(true);
                    $('input[name=seasonCategoryKey]').val(null);
                }else if(data == 'ALL'){
                    $('input[name=page]').val(1);
                    $('input[name=hot]').val(null);
                    $('input[name=seasonCategoryKey]').val(null);
                }else{
                    $('input[name=page]').val(1);
                    $('input[name=hot]').val(null);
                    $('input[name=seasonCategoryKey]').val(data);
                }
                fnGetList();
            });

            $(document).ready(function (){
                fnGetList();
            });

            function fnGetList(){
                ajaxView("/user/quest/list","GET",$("form[name=boardFrm]").serialize(),"questList");
            }

            function fnMovePage(page){
                $("input[name=page]").val(page);
                fnGetList();
            }

            function fnMoveDetail(questKey,finished){
                if(finished==='true'){
                    if($('input[name=seasonCategoryKey]').val()=='HISTORY'){
                        window.location.href="/user/quest/view?idx="+questKey;
                    }else{
                        toastr.warning('Voting is closed.');
                    }

                }else {
                    window.location.href="/user/quest/view?idx="+questKey;
                }
            }
        </script>
    </th:block>
</div>

</html>