<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/default_layout">

<th:block layout:fragment="css">
</th:block>


<div layout:fragment="content">
    <!-- 기본영역 (타이틀/네비/버튼) -->
    <dl class="title-section">

    </dl>
    <!-- 기본영역 끝 -->
    <div class="container">
        <!-- 상세 -->
        <div class="quest-view">
            <div>
                <h2>
                    <span>Confirmed</span> <th:block th:text="${detail.questTitle}"></th:block>
                </h2>
                <p>
                    <th:block th:if="${detail.snsUrl} !=null and ${detail.snsUrl} !='' and ${detail.snsType} == 'Y'">
                        <iframe width="100%" height="650" th:src="'https://www.youtube.com/embed/'+${detail.snsId}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </th:block>
                    <th:block th:unless="${detail.snsUrl} !=null and ${detail.snsUrl} !='' and ${detail.snsType} == 'Y'">
                        <th:block th:if="${detail.snsUrl} !=null and ${detail.snsUrl} !=''">
                            <a th:href="${detail.snsUrl}" target="_blank">
                                <img th:src="@{/user/media/image(id=${detail.fileKey})}" width="100%" alt="" title="" />
                            </a>
                        </th:block>
                        <th:block th:unless="${detail.snsUrl} !=null and ${detail.snsUrl} !=''">
                            <img th:src="@{/user/media/image(id=${detail.fileKey})}" width="100%" alt="" title="" />
                        </th:block>
                    </th:block>
                </p>
            </div>
            <dl>
                <dt>
                    <h2><span th:text="${detail.dDay} < 0?'D'+${detail.dDay}:'+'+${detail.dDay}"></span>&nbsp;<th:block th:text="${#dates.format(detail.endDateTime,'MM/dd HH:mm')}"></th:block>&nbsp;(UTC+0)</h2>
                    <p th:style="'background:url(/user/media/image?id='+${detail.fileKey}+') center no-repeat; background-size:cover;'"></p>
                    <h3 id="oddsText"></h3>
                    <h3 id="winText"></h3>
                    <ul>

                        <li th:each=" subItem , i : ${#strings.arraySplit(detail.answersStr,'^#')}"
                            th:with="answer=${#strings.arraySplit(subItem,'%')}"
                            class="answerSelectList"
                            th:attr="data-questAnswerKey=${answer[2]},data-answerTotal=${answer[1]}"
                            th:classappend="${answer[3]=='true'}?'active':''"
                        >
                            <div th:text="' '+${i.count}+'. '+${answer[0]}"></div>
                            <p th:id="'answer_'+${detail.questKey}+'_'+${i.index}"></p>
                            <script>
                                /*<![CDATA[*/
                                currentAnswerTotal = "[[${answer[1]}]]";

                                totalAmount = "[[${detail.totalAmount}]]";
                                otherTotalToken = totalAmount - currentAnswerTotal;
                                answerId = "answer_[[${detail.questKey}]]_[[${i.index}]]";
                                /*]]>*/
                                result = calculateWinToken(parseFloat(toEther(1)), Number(currentAnswerTotal) + parseFloat(toEther(1)), otherTotalToken);
                                rateString = isNaN(Number(result.rate).toFixed(2)) ? '-' : parseFloat(result.rate).toFixed(2);

                                $('#'+answerId).text(rateString+'X');
                            </script>
                        </li>
                    </ul>
                    <div>
                        <form name="bettingForm" method="post" action="">
                            <input type="hidden" name="questKey" th:value="${detail.questKey}"/>
                            <input type="hidden" name="questAnswerKey" value=""/>
                            <input type="hidden" name="bettingCoin" value="1"/>
                            <th:block th:if="${detail.finished}">

                                    <div>
                                        <a href="#">Market Confirmed</a>
                                    </div>
                            </th:block>
                            <th:block th:unless="${detail.finished}">
                                <fieldset>
                                    <legend>CT</legend>
                                    <p><input type="text" name="ctInputText" id="ctInputText" title="CT" value="1" placeholder="CT Input" /></p>
                                    <div>
                                        <a href="javascript:fnBetting();" id="choiceBtn">My Choice : 0</a>
                                    </div>
                                </fieldset>
                            </th:block>
                        </form>
                    </div>
                </dt>
                <dd>
                    <ul>
                        <li class="qv-tab01 active"><i class="uil uil-chart-line"></i> <span>Chat</span></li>
                        <li class="qv-tab02"><i class="uil uil-files-landscapes-alt"></i> <span>Vol</span></li>
                        <li class="qv-tab03"><i class="uil uil-file-info-alt"></i> <span>Info</span></li>
                    </ul>
                    <div class="qv-chart">
                        <h2>Probability Chart</h2>
                        <p><canvas id="chart"></canvas></p>
                    </div>
                    <div class="qv-vol">
                        <h2>Total <th:block th:text="${#numbers.formatInteger(detail.totalAmount,0,'COMMA')}"></th:block> CT</h2>
                        <h2>
                            <select name="selectAnswerList" title="" class="w100p">
                                <option selected value="">ALL</option>
                                <option th:each="subItem , i : ${#strings.arraySplit(detail.answersStr,'^#')}"
                                        th:with="answer=${#strings.arraySplit(subItem,'%')}"
                                        th:text="${answer[0]}"
                                        th:value="${answer[2]}"></option>
                            </select>
                        </h2>
                        <ul id="bettingTotalList">
                            <th:block th:if="${bettingList}!=null">
                                <li th:each="item :${bettingList}">
                                    <div><i class="uil uil-circle"></i><span th:class="'fontColor-'+${item.rowNum}" style="color:#8950fc;" th:text="${item.answerTitle}">Yes</span></div>
                                    <div><span th:text="${#numbers.formatInteger(item.bettingCoin,0,'COMMA')}"></span> CT</div>
                                    <div th:text="${#dates.format(item.createdDateTime,'yyyy.MM.dd hh:mm')}">Jan 13, 3:12 PM</div>
                                </li>
                            </th:block>
                        </ul>
                        <form name="bettingFrm" id="bettingFrm">
                            <input type="hidden" name="questKey" th:value="${detail.questKey}"/>
                            <input type="hidden" name="questAnswerKey" value=""/>
                            <input type="hidden" name="prevQuestAnswerKey" value="A"/>
                        </form>
                    </div>
                    <div class="qv-info">
                        <h2>Detail Information</h2>
                        <ul>
                            <li>
                                <h2><i class="uil uil-angle-right"></i>Category</h2>
                                <div th:text="${detail.categoryName}"></div>
                            </li>
                            <li>
                                <h2><i class="uil uil-angle-right"></i>Creator Fee</h2>
                                <div th:text="${detail.creatorFee}+'%'"></div>
                            </li>
                            <li>
                                <h2><i class="uil uil-angle-right"></i>Volume</h2>
                                <div><th:block th:text="${#numbers.formatInteger(detail.totalAmount,0,'COMMA')}"></th:block> CT</div>
                            </li>
                            <li>
                                <h2><i class="uil uil-angle-right"></i>Creator Salary</h2>
                                <div th:text="${detail.creatorPay}+' CT'"></div>
                            </li>
                            <li>
                                <h2><i class="uil uil-angle-right"></i>Start Date</h2>
                                <div th:text="${#dates.format(detail.approveDateTime,'MM dd yyyy , hh:mm')}+' (UTC+0)'"></div>
                            </li>
                            <li>
                                <h2><i class="uil uil-angle-right"></i>Transaction</h2>
                                <div th:text="${detail.approveTx}"></div>
                            </li>
                            <li>
                                <h2><i class="uil uil-angle-right"></i>End Date</h2>
                                <div th:text="${#dates.format(detail.endDateTime,'MM dd yyyy , hh:mm')}+' (UTC+0)'">January 30 2021, PM 11:59 (UTC+0)</div>
                            </li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>
        <!-- 상세 끝 -->
    </div>

    <th:block layout:fragment="script">
        <script th:src="@{/assets/js/chart-js/Chart.bundle.js}"></script>
        <script th:src="@{/assets/js/chart-js/chart.js}"></script>
        <th:block th:if="${!detail.finished}">
            <script>
                let currentAnswerTotalDetail;
                let otherTotalTokenDetail;
                $(document).on('click','.answerSelectList',function (e){
                    if($('input[name=bettingCoin]').val()==''){
                        toastr.warning('Input CT.');
                        return;
                    }else {
                        $('.answerSelectList').removeClass('active');
                        $(this).addClass('active');
                        const dataQuestAnswerKey = $(this).attr('data-questAnswerKey');
                        $('input[name=questAnswerKey]').val(dataQuestAnswerKey);
                        console.debug($(this).find("div"));
                        $('#choiceBtn').text("My Choice : "+$(this).find("div").text());
                        const contentTextInput = $('input[name=bettingCoin]').val();
                        currentAnswerTotalDetail = Number($(this).attr('data-answerTotal'));
                        otherTotalTokenDetail = Number(totalAmount) - Number($(this).attr('data-answerTotal'));
                        setCtChangeText(contentTextInput);
                    }
                });
                $(document).on('keyup','#ctInputText',function (e){
                    $(this).val(addComma($(this).val().replace(/[^0-9]/g,"")));
                    $('input[name=bettingCoin]').val(removeCommas($(this).val()));
                    if($('input[name=questAnswerKey]').val()!=''){
                        const contentTextInput = $('input[name=bettingCoin]').val();
                        setCtChangeText(contentTextInput);
                    }
                });

                function setCtChangeText(contentTextInput){
                    const result = calculateWinToken(Number(contentTextInput), Number(currentAnswerTotalDetail) + Number(contentTextInput), otherTotalTokenDetail);
                    const rateString = isNaN(Number(result.rate).toFixed(1)) ? '-' : Number(result.rate).toFixed(1);
                    $('#oddsText').html('Odds <span>'+rateString+'</span> X');
                    $('#winText').html('Win <span>'+Number(result.receiveToken)+'</span> CT if right');
                }

                function fnBetting(){
                    if($('input[name=questAnswerKey]').val()==''){
                        toastr.warning('select answer!.');
                        return;
                    }

                    if($('input[name=bettingCoin]').val()==''){
                        toastr.warning('Input CT.');
                        return;
                    }
                    if(confirm('Would you like to bet?')){
                        $.ajax({
                            url:"/user/quest/betting",
                            type :  "POST",
                            data : $('form[name=bettingForm]').serialize(),
                            success : function(response){
                                if(response.check){
                                    toastr.success(response.message);
                                    location.reload();
                                } else {
                                    toastr.error(response.message);
                                }
                            }
                        });
                    }
                }

                $(document).on('change','select[name=selectAnswerList]',function (e){
                    $('input[name=questAnswerKey]').val($(this).val());
                    fnGetBettingList();
                });
            </script>
        </th:block>

        <script>
            $("body").addClass("bg-quest");
            $(document).ready(function (e){
                fnGetChart();
            });

            function fnGetBettingList(){
                ajaxView("/user/quest/bettingTotalList","GET",$("form[name=bettingFrm]").serialize(),"bettingTotalList");
            }

            function fnGetChart(){
                $.ajax({
                    url:"/user/quest/bettingList",
                    type :  "POST",
                    data : {
                        "questKey" : $('input[name=questKey]').val()
                    },
                    success : function(response){
                        if(response.check){
                            const bettings =response.item;
                            fnDrawChart(bettings);
                        }
                    }
                });
            }


            $(document).on('click','.qv-tab02',function (e){
                const prevQuestAnswerKey = $('input[name=prevQuestAnswerKey]').val();
                if(prevQuestAnswerKey == 'A'){
                    fnGetBettingList();
                    $('input[name=prevQuestAnswerKey]').val("");
                }
            });


        </script>
    </th:block>
</div>

</html>