<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="title" content="COJAM " />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="robots" content="index, follow">
		<link rel="canonical" href="https://www.cojam.io/">
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="COJAM">
		<meta property="og:type" content="article">
		<meta property="og:url" content="https://www.cojam.io/">
		<meta property="og:title" content="COJAM">
		<meta property="og:image" content="/assets/image/common/meta_img.jpg">
		<meta property="og:description" content="" />
		<title>COJAM</title>
		<link href="/assets/css/style.css" rel="stylesheet">
		<link rel="shortcut icon" href="/assets/image/common/favicon.ico">
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/assets/js/jquery-3.3.1.js"></script>
		<script src="/assets/js/jquery-ui.js"></script>
		<script src="/assets/js/jquery-ui-timepicker-addon.js"></script>
    <script src="/assets/js/easing.js"></script>
    <script src="/assets/js/fontawesome.js"></script>
		<script src="/assets/js/iziModal.js"></script>
		<script src="/assets/js/swiper.js"></script>
		<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
		<script src="/assets/js/isotope.pkgd.min.js"></script>
		<script src="/assets/js/vegas.js"></script>
		<script src="/assets/js/fittext.js"></script>
		<script src="/assets/js/lettering.js"></script>
		<script src="/assets/js/textillate.js"></script>
		<script src="/assets/js/waypoints.js"></script>
		<script src="/assets/js/countup.js"></script>
    <script src="/assets/js/common.js"></script>
	</head>
	<body>
		<div class="wrap">
			


				<!-- 상단영역 -->
				<div id="header">
        </div>
				<!-- 상단영역 끝 -->
				

				<!-- 비주얼영역 -->
				<div class="main-vegas">
					<div class="mv-btm"><img src="/assets/image/content/main_visual_scroll.svg" width="100" alt="" title="" /></div>
					<div class="mv-copy">
						<h2>COJAM</h2>
						<h3>Let's enjoy the prediction platform through COJAM</h3>
					</div>
				</div>
				<!-- 비주얼영역 끝 -->


			  <!-- 퀘스트 - 카타고리 -->
				<div class="main-quest">
					<div>
						<h2>Ongoing Vote 6</h2>
						<h3>Convergence Platform of Knowledge based on Prediction</h3>
						<ul>
							<li>
								<p><img src="/assets/image/content/main_quest_icon01.svg" width="90" alt="" title="" /> </p>
								<h2>Art & Culture</h2>
								<h3>Add your opinion to the new daily predictive Ground and you get COJAM Point(CP)!</h3>
							</li>
							<li>
								<p><img src="/assets/image/content/main_quest_icon02.svg" width="90" alt="" title="" /> </p>
								<h2>Community</h2>
								<h3>Add your opinion to the new daily predictive Ground and you get COJAM Point(CP)!</h3>
							</li>
							<li>
								<p><img src="/assets/image/content/main_quest_icon03.svg" width="90" alt="" title="" /></p>
								<h2>Competition</h2>
								<h3>Add your opinion to the new daily predictive Ground and you get COJAM Point(CP)!</h3>
							</li>
							<li>
								<p><img src="/assets/image/content/main_quest_icon04.svg" width="90" alt="" title="" /></p>
								<h2>Crowd Solving</h2>
								<h3>Add your opinion to the new daily predictive Ground and you get COJAM Point(CP)!</h3>
							</li>
							<li>
								<p><img src="/assets/image/content/main_quest_icon05.svg" width="90" alt="" title="" /></p>
								<h2>Economy</h2>
								<h3>Add your opinion to the new daily predictive Ground and you get COJAM Point(CP)!</h3>
							</li>
							<li>
								<p><img src="/assets/image/content/main_quest_icon06.svg" width="90" alt="" title="" /></p>
								<h2>Sience</h2>
								<h3>Add your opinion to the new daily predictive Ground and you get COJAM Point(CP)!</h3>
							</li>
						</ul>
					</div>
				</div>
				<!-- 퀘스트 - 카타고리 끝 -->


				<!-- 시즌 -->
				<div class="main-season">
					<div>
						<h2>Cojam Active Season</h2>
						<h3>Create Season of Cojam Service!</h3>
						<ul>
							<li>
								<div>
									<h2>128</h2>
									<h3>Day</h3>
								</div>
							</li>
							<li>
								<div>
									<h2>25</h2>
									<h3>Charity Fee(%)</h3>
								</div>
							</li>
							<li>
								<div>
									<h2>69</h2>
									<h3>Charity Fee(%)</h3>
								</div>
							</li>
							<li>
								<div>
									<h2>17</h2>
									<h3>Cojam Fee(%)</h3>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- 시즌 끝 -->


				<!-- 공지사항 -->
				<div class="main-notice">
					<div>
						<h2>Notice & News</h2>
						<h3>Sharing News, Issues, Histories of COJAM!</h3>
						<ul>
							<li class="item sort01" onclick="location.href='../notice/view.html';">
								<p>
                  <span style="background:url('https://i.pinimg.com/564x/80/75/e2/8075e2cce90fc123704585de02094b94.jpg') center no-repeat; background-size:cover;"></span>
								</p>
								<div>
									<dl>
										<dt><i class="uil uil-calendar-alt"></i> 2021.01.10 10:00</dt>
										<dd><span>Notice</span></dd>
										<!-- em -- News -->
										<!-- <dd><em>News</em></dd> -->
									</dl>
									<h2>Simple Manual Of Cojam Service</h2>
								</div>
							</li>
							<li class="item sort02" onclick="location.href='../notice/view.html';">
								<p>
                  <span style="background:url('https://i.pinimg.com/564x/c6/ca/46/c6ca464b49d1ed6fb94190d2d6c584a9.jpg') center no-repeat; background-size:cover;"></span>
								</p>
								<div>
									<dl>
										<dt><i class="uil uil-calendar-alt"></i> 2021.01.10 10:00</dt>
										<dd><em>News</em></dd>
									</dl>
									<h2>블록체인 예측시스템 코잼, ‘블록체인 혁신을 실험한다’</h2>
								</div>
							</li>
							<li class="item sort02" onclick="location.href='../notice/view.html';">
								<p>
                  <span style="background:url('https://i.pinimg.com/564x/f1/26/2e/f1262e5bac44e876f9ad28e103f36fce.jpg') center no-repeat; background-size:cover;"></span>
								</p>
								<div>
									<dl>
										<dt><i class="uil uil-calendar-alt"></i> 2021.01.10 10:00</dt>
										<dd><em>News</em></dd>
									</dl>
									<h2>블록체인 예측시스템 플랫폼 `코잼`, 손흥민 득점 순위 예측 진행</h2>
								</div>
							</li>
						</ul>
						<div><a href="#">More</a></div>
					</div>
				</div>
				<!-- 공지사항 끝 -->


				<!-- 서비스 -->
				<div class="main-service">
					<div>
						<h2>Cojam Service</h2>
						<h3>Operate the Service Through Advanced Technology</h3>
						<dl>
							<dt>&nbsp;</dt>
							<dd>
								<div>
									<p>
										<span><img src="/assets/image/content/main_service_icon01.svg" alt="" title="" /></span>
									</p>
									<h2>AWS Cloud</h2>
									<h3>Our Service based on AWS Cloud Service for Security and Stability.</h3>
								</div>
								<div>
									<p>
										<span><img src="/assets/image/content/main_service_icon02.svg" alt="" title="" /></span>
									</p>
									<h2>Blockchain</h2>
									<h3>It ensures transparency and stability and can participate in predictive platforms.</h3>
								</div>
								<div>
									<p>
										<span><img src="/assets/image/content/main_service_icon03.svg" alt="" title="" /></span>
									</p>
									<h2>HTML5 Web Standard</h2>
									<h3>Developed by HTML5 Web Standard to support a variety of browsers.</h3>
								</div>
								<div>
									<p>
										<span><img src="/assets/image/content/main_service_icon04.svg" alt="" title="" /></span>
									</p>
									<h2>Mobile Application</h2>
									<h3>Any Where! Any Time! You can enjoy with Mobile.</h3>
								</div>
								<div>
									<p>
										<span><img src="/assets/image/content/main_service_icon05.svg" alt="" title="" /></span>
									</p>
									<h2>Responsible Web</h2>
									<h3>It is possible to participate in services from browsers on various devices through Responsible Web.</h3>
								</div>
								<div>
									<p>
										<span><img src="/assets/image/content/main_service_icon06.svg" alt="" title="" /></span>
									</p>
									<h2>Realtime Service</h2>
									<h3>If you have any questions about the service, please feel free to contact us.</h3>
								</div>
							</dd>
						</dl>
					</div>
				</div>
				<!-- 서비스 끝 -->


				<!-- 질문답변 -->
				<div class="main-qna">
					<div>
						<h2>Q&A</h2>
						<h3>If you have any other questions, please feel free to ask us!</h3>
						<div class="qna_list">
							<div>
								<ul>
									<li><i class="xi-help-o"></i></li>
									<li>What is COJAM?</li>
									<li><i class="xi-plus"></i></li>
								</ul>
								<dl>
									<dt><i class="xi-comment-o"></i></dt>
									<dd>
										<h2>The answer is.</h2>
										<div>Can you predict? This is a reward-type prediction platform where users who produce content and those who participate solve the answers, compete, and receive compensation based on the results.</div>
									</dd>
								</dl>
							</div>
							<div>
								<ul>
									<li><i class="xi-help-o"></i></li>
									<li>What is COJAM?</li>
									<li><i class="xi-plus"></i></li>
								</ul>
								<dl>
									<dt><i class="xi-comment-o"></i></dt>
									<dd>
										<h2>The answer is.</h2>
										<div>Can you predict? This is a reward-type prediction platform where users who produce content and those who participate solve the answers, compete, and receive compensation based on the results.</div>
									</dd>
								</dl>
							</div>
							<div>
								<ul>
									<li><i class="xi-help-o"></i></li>
									<li>What is COJAM?</li>
									<li><i class="xi-plus"></i></li>
								</ul>
								<dl>
									<dt><i class="xi-comment-o"></i></dt>
									<dd>
										<h2>The answer is.</h2>
										<div>Can you predict? This is a reward-type prediction platform where users who produce content and those who participate solve the answers, compete, and receive compensation based on the results.</div>
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
				<!-- 질문답변 끝 -->



			<!-- 하단영역 -->
			<div id="footer">
			</div>
			<!-- 하단영역 끝 -->


			
		</div>
	</body>
</html>