<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="title" content="COJAM " />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="robots" content="index, follow">
		<link rel="canonical" href="https://www.cojam.io/">
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="COJAM">
		<meta property="og:type" content="article">
		<meta property="og:url" content="https://www.cojam.io/">
		<meta property="og:title" content="COJAM">
		<meta property="og:image" content="/assets/image/common/meta_img.jpg">
		<meta property="og:description" content="" />
		<title>COJAM</title>
		<link href="/assets/css/style.css" rel="stylesheet">
		<link rel="shortcut icon" href="/assets/image/common/favicon.ico">
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/assets/js/jquery-3.3.1.js"></script>
		<script src="/assets/js/jquery-ui.js"></script>
		<script src="/assets/js/jquery-ui-timepicker-addon.js"></script>
    <script src="/assets/js/easing.js"></script>
    <script src="/assets/js/fontawesome.js"></script>
		<script src="/assets/js/swiper.js"></script>
		<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
		<script src="/assets/js/isotope.pkgd.min.js"></script>
		<script src="/assets/js/vegas.js"></script>
		<script src="/assets/js/fittext.js"></script>
		<script src="/assets/js/lettering.js"></script>
		<script src="/assets/js/textillate.js"></script>
		<script src="/assets/js/countup.js"></script>
    <script src="/assets/js/common.js"></script>
	</head>
	<body class="bg-notice">
		<div class="wrap">
			


				<!-- 상단영역 -->
				<div id="header">
        </div>
        <!-- 상단영역 끝 -->


			  <!-- 타이틀영역 -->
				<div class="title-area">
					Notice & News
				</div>
				<!-- 타이틀영역 끝 -->



			  <div class="container-top-round">
					<!-- 상세 -->
          <div class="notice-view">
            <dl>
              <dt>
                <h2><span>[News]</span> Simple Manual Of Cojam Service</h2>
                <h3><i class="uil uil-calendar-alt"></i> 2021.01.10 10:00</h3>
                <div>
                  <p><img src="https://i.pinimg.com/564x/80/75/e2/8075e2cce90fc123704585de02094b94.jpg" width="100%" alt="" title="" /></p>
                  <br /><br />
                  <div>
                    블록체인 기술의 범위와 영향력이 사회 모든 분야로 확대되어 감에 따라 집단지성과 블록체인 예측시스템의 영역은 어디까지 확대될 것인가에 대한 새로운 화두를 제시하고 있다.
                    <br /><br />
                    이와 관련해 코잼이 영국 프리미어리거 손흥민 선수의 12월 예상득점 순위를 두고 집단지성의 힘을 증명하고자 한다고 1일 밝혔다.
                    <br /><br />
                    블록체인 기술의 범위와 영향력이 사회 모든 분야로 확대되어 감에 따라 집단지성과 블록체인 예측시스템의 영역은 어디까지 확대될 것인가에 대한 새로운 화두를 제시하고 있다.<br />
                    이와 관련해 코잼이 영국 프리미어리거 손흥민 선수의 12월 예상득점 순위를 두고 집단지성의 힘을 증명하고자 한다고 1일 밝혔다.<br />
                    블록체인 기술의 범위와 영향력이 사회 모든 분야로 확대되어 감에 따라 집단지성과 블록체인 예측시스템의 영역은 어디까지 확대될 것인가에 대한 새로운 화두를 제시하고 있다.
                    <br /><br />
                    이와 관련해 코잼이 영국 프리미어리거 손흥민 선수의 12월 예상득점 순위를 두고 집단지성의 힘을 증명하고자 한다고 1일 밝혔다.
                    <br /><br />
                    <a href="#" target="_blank">한국경제TV-원문보기</a>
                  </div>
                </div>
              </dt>
              <dd>
                <h2>Related</h2>
                <ul>
                  <li>
                    <p>
                      <span style="background:url('https://i.pinimg.com/564x/c6/ca/46/c6ca464b49d1ed6fb94190d2d6c584a9.jpg') center no-repeat; background-size:cover;"></span>
                    </p>
                    <h2>Simple Manual Of Cojam Service</h2>
                  </li>
                  <li>
                    <p>
                      <span style="background:url('https://i.pinimg.com/564x/f1/26/2e/f1262e5bac44e876f9ad28e103f36fce.jpg') center no-repeat; background-size:cover;"></span>
                    </p>
                    <h2>블록체인 예측시스템 코잼, ‘블록체인 혁신을 실험한다’</h2>
                  </li>
                  <li>
                    <p>
                      <span style="background:url('https://i.pinimg.com/564x/14/5d/a3/145da3993d5458d7963f7bb60bb84698.jpg') center no-repeat; background-size:cover;"></span>
                    </p>
                    <h2>블록체인 예측시스템 플랫폼 `코잼`, 손흥민 득점 순위 예측 진행</h2>
                  </li>
                  <li>
                    <p>
                      <span style="background:url('https://i.pinimg.com/564x/a2/e7/9e/a2e79e5bb424c115500986a2340f1ed4.jpg') center no-repeat; background-size:cover;"></span>
                    </p>
                    <h2>“블록체인 예측시스템 플랫폼 코잼에서 시청률을 예측한다?”</h2>
                  </li>
                  <li>
                    <p>
                      <span style="background:url('https://i.pinimg.com/564x/d5/21/9c/d5219cea07ccc4ffd82a123573cd3d6e.jpg') center no-repeat; background-size:cover;"></span>
                    </p>
                    <h2>뉴노멀 예측플랫폼 코잼(Cojam Limited), 코로나19 Quest 프로젝트 진행 중</h2>
                  </li>
                </ul>
              </dd>
            </dl>
            <div>
              <a href="list.html" class="btn-purple">List</a>
            </div>
          </div>
          <!-- 상세 끝 -->

        </div>




			<!-- 하단영역 -->
			<div id="footer">
			</div>
			<!-- 하단영역 끝 -->


			
		</div>
	</body>
</html>