<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/cms_default_layout">
<th:block layout:fragment="content">
    <div class="content">
        <th:block  th:replace="thymeleaf/fragment/popup :: modalGroundDetailCMS"></th:block>
        <th:block  th:replace="thymeleaf/fragment/popup :: modalSelectedAnswer"></th:block>
        <th:block  th:replace="thymeleaf/fragment/popup :: modalViewSuccessInfo"></th:block>
        <th:block  th:replace="thymeleaf/fragment/popup :: modalGroundAdjourn"></th:block>
        <th:block  th:replace="thymeleaf/fragment/popup :: modalViewAdjournInfo"></th:block>
        <div class="table-title">
            <h2><i class="uil uil-chat-info"></i>  Approve Market </h2>
            <div>
                <a href="javascript:fnQuest('H')">Hot</a>
                <a href="javascript:fnQuest('P')">Pend</a>
                <a href="javascript:fnQuest('UP')">Unpend</a>
                <a href="javascript:fnQuest('F')">Finish</a>
                <a href="javascript:fnQuest('ADJ')">Adjourn</a>
                <a href="javascript:fnQuest('SUC')">Success</a>
            </div>
        </div>

        <form th:name="boardFrm" th:method="GET" >
            <input th:type="hidden" th:name="page" />
            <input th:type="hidden" th:name="orderType" />
            <input type="text" style="display: none"/>
            <div class="table-option">
                <div>
                    <input type="text"name="searchText" id="searchText" placeholder="검색어를 입력하세요."> <button  type="button"  onclick="fnSearch();"><i class="uil uil-search"></i></button>
                </div>
            </div>
        </form>

        <div class="table-default" id="questList">
            <table>
                <colgroup>
                    <col width="6%"/>
                    <col width="6%"/>
                    <col width="10%"/>
                    <col width="*"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="6%"/>
                    <col width="6%"/>
                    <col width="6%"/>
                </colgroup>
                <thead>
                <tr>
                    <td><input type="checkbox" name="xxx" value="yyy" class="checkAll"></td>
                    <td>No.</td>
                    <td>Category <span><i class="uil uil-align-center-v"></i></span></td>
                    <td>Title</td>
                    <td>End Date <span><i class="uil uil-align-center-v"></i></span></td>
                    <td>Total(minimum)</td>
                    <td>Finish</td>
                    <td>Pend <span><i class="uil uil-align-center-v"></i></span></td>
                    <td>hot <span><i class="uil uil-align-center-v"></i></span></td>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${questList} !=null">
                    <tr th:each="item,i :${questList}" th:attr="data-questKey=${item.questKey}">
                        <td><input type="checkbox" name="questKeys" th:value="${item.questKey}" class="check"></td>
                        <td th:text="${(pagination.totalListCnt - (i.index+(pagination.pageSize*(pagination.page-1))))}"></td>
                        <td th:text="${item.categoryName}"></td>
                        <td>
                            <h5 th:id="'questTitle_'+${item.questKey}" th:text="${item.questTitle}" class="groundList" th:attr="data-questKey=${item.questKey}"></h5>
                        </td>
                        <td th:id="'joindate_'+${i.index}"></td>
                        <script>
                            /*<![CDATA[*/
                            userJoinCreatedDateTimeId = "joindate_[[${i.index}]]";
                            userJoinCreatedDateTime = "[[${item.endDateTime}]]";
                            $('#'+userJoinCreatedDateTimeId).html(changeUtcToLocal(userJoinCreatedDateTime,'YYYY-MM-DD HH:mm'))
                            /*]]>*/
                        </script>
                        <td><th:block th:text="${#numbers.formatInteger(item.totalAmount,0,'COMMA')}"></th:block>(<th:block th:text="${item.minimumPay}"></th:block>)</td>
                        <td><p th:text="${item.finishTx}!=null?'T':'F'" th:classappend="${item.finishTx}!=null?'true':'false'"></p></td>
                        <td><p th:text="${item.pending}?'T':'F'" th:classappend="${item.pending}?'true':'false'"></p></td>
                        <td><p th:text="${item.hot}?'T':'F'" th:classappend="${item.hot}?'true':'false'"></p></td>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <th:block th:if="${pagination} != null" th:replace="thymeleaf/fragment/page :: paging-list(${pagination})"></th:block>
        </div> <!-- .table-content  -->
        <form th:name="successFrm" id="successFrm">
            <input type="hidden" name="selectedQuestKey" id="selectedQuestKey"/>
            <input type="hidden" name="selectedAnswerKey" id="selectedAnswerKey"/>
        </form>

        <form th:name="adjournFrm" id="adjournFrm" th:method="POST">
            <input type="hidden" name="adjournQuestKey" id="adjournQuestKey"/>
            <input type="hidden" name="adjournDesc" id="adjournDesc"/>
        </form>
    </div> <!-- .content  -->
    <th:block layout:fragment="script">
        <script>
            $(document).ready(function (){
                fnGetList();
                $("#searchText").keydown(function(key) {
                    if (key.keyCode == 13) {
                        fnMovePage(1);
                    }
                });
            });

            function fnGetList(){
                ajaxView("/cms/ground/approve/list","GET",$("form[name=boardFrm]").serialize(),"questList");
            }

            function fnMovePage(page){
                $("input[name=page]").val(page);
                fnGetList();
            }

            function fnQuest(type){

                if(!$('input:checkbox[name="questKeys"]').is(":checked")){
                    toastr.warning('Please select a check box');
                    return;
                }

                if($('input:checkbox[name="questKeys"]:checked').length> 1){
                    toastr.warning('You can only choose one.');
                    return;
                }

                let questKey="";

                $('input:checkbox[name="questKeys"]').each(function() {
                    if(this.checked){//checked 처리된 항목의 값
                        questKey = this.value;

                    }
                });

                const title = $("#questTitle_"+questKey).text();


                if(type =="H"){
                    $.ajax({
                        url: "/cms/ground/hot",
                        type: "POST",
                        data : {
                            "questKey" : questKey
                        },
                        success : function(response){
                            if(response.check){
                                toastr.success('success');
                                fnGetList();
                            } else {
                                toastr.error(response.message);
                            }
                        }
                    });
                }else if(type =="P"){
                    if(confirm("will [" + title + "] be Pend?")){
                        $.ajax({
                            url: "/cms/ground/pending",
                            type: "POST",
                            data : {
                                "questKey" : questKey
                            },
                            success : function(response){
                                if(response.check){
                                    toastr.success('success');
                                    fnGetList();
                                } else {
                                    toastr.error(response.message);
                                }
                            }
                        });
                    }
                }else if(type =="UP"){
                    if(confirm("will [" + title + "] be Unpend?")){
                        $.ajax({
                            url: "/cms/ground/unpending",
                            type: "POST",
                            data : {
                                "questKey" : questKey
                            },
                            success : function(response){
                                if(response.check){
                                    toastr.success('success');
                                    fnGetList();
                                } else {
                                    toastr.error(response.message);
                                }
                            }
                        });
                    }
                }else if(type =="F"){
                    if(confirm("will [" + title + "] be Finished?")){
                        $.ajax({
                            url: "/cms/ground/finish",
                            type: "POST",
                            data : {
                                "questKey" : questKey
                            },
                            success : function(response){
                                if(response.check){
                                    toastr.success('success');
                                    fnGetList();
                                } else {
                                    toastr.error(response.message);
                                }
                            }
                        });
                    }
                }else if(type =="SUC"){
                    selectedQuestKey = questKey;
                    selectedQuestTitle = title;
                    $("#modalSelectedAnswer").iziModal('open');
                }else if(type =="ADJ"){
                    adjournQuestKey = questKey;
                    adjournQuestTitle = title;
                    $("#modalGroundAdjourn").iziModal('open');
                }
            }


            $(document).on('click','.groundList',function(e){
                detailQuestKey=$(this).attr('data-questKey');
                $("#modalGroundDetailCMS").iziModal('open');
            });

            function fnSearch(){
                fnMovePage(1);
            }
        </script>
    </th:block>
</th:block>
</html>