<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:tr="http://www.thymeleaf.org"
      layout:decorator="thymeleaf/layout/cms_default_layout">
<th:block layout:fragment="content">
    <div class="content">


        <th:block  th:replace="thymeleaf/fragment/popup :: modalCategoryAdd(${categoryList})"></th:block>


        <div class="table-title">
            <h2><i class="uil uil-file-alt"></i> Post </h2>
            <div class="modal-btn">
                <a href="#" data-izimodal-open="#modalCategoryAdd" data-izimodal-transitionin="comingIn"><i class="uil uil-plus-circle"></i> Add New Category</a>
            </div>
        </div>
        <form th:name="boardFrm" th:method="GET" action="/cms/post">
            <input th:type="hidden" th:name="page" />
            <div class="table-option">
                <div>
                    <select name="boardCategoryKey" id="">
                        <option value="" >ALL</option>
                        <option th:each="item : ${categoryList}"
                                th:value="${item.boardCategoryKey}"
                                th:text="${item.categoryName}"
                                th:selected="${param.boardCategoryKey eq item.boardCategoryKey}"
                        ></option>
                    </select>
                    <input type="text" name="searchWord" placeholder="검색어를 입력하세요." th:value="${param.searchWord}"><button type="button" th:onclick="|javascript:fnSearch()|"><i class="uil uil-search"></i></button>
                </div>
                <ul>
                    <li>
                        <a href="/cms/post/register"><abbr TITLE="등록"><i class="uil uil-file-plus-alt"></i></abbr></a>
                    </li>
                </ul>
            </div>
        </form>

        <div class="table-default" id="boardList">
            <table>
                <colgroup>
                    <col width="4%"/>
                    <col width="15%"/>
                    <col width="7%"/>
                    <col width="*"/>
                    <col width="18%"/>
                    <col width="10%"/>
                </colgroup>
                <thead>
                <tr>
                    <td>No.</td>
                    <td>Category Name</td>
                    <td>Image</td>
                    <td>Title</td>
                    <td>Regist user</td>
                    <td>Function</td>
                </tr>
                </thead>
                <tbody>
                    <th:block th:if="${boardList} !=null">
                        <tr th:each="item,i : ${boardList}">
                            <td th:text="${(pagination.totalListCnt - (i.index+(pagination.pageSize*(pagination.page-1))))}"></td>
                            <td th:text="${item.categoryName}"></td>
                            <td th:onclick="'window.location.href = \'' + @{/cms/post/view(idx=${item.boardKey})} + '\''">
                                <p><img th:src="@{/user/media/image(id=${item.boardFile})}" alt="" title="" /></p>
                            </td>
                            <td th:onclick="'window.location.href = \'' + @{/cms/post/view(idx=${item.boardKey})} + '\''">
                                <h5 th:text="${item.boardTitle}"></h5>
                            </td>
                            <td th:text="${item.memberName}"></td>
                            <td>
                                <ul>
                                    <li th:attr="onclick=|fnSendBoard
                                    ('${item.boardKey}')|"><abbr TITLE="전송"><i class="uil uil-message"></i></abbr></li>
                                    <li><a th:href="@{/cms/post/view(idx=${item.boardKey})}"><abbr TITLE="수정"><i class="uil uil-file-edit-alt"></i></abbr></a></li>
                                    <li th:attr="onclick=|fnDeleteBoard('${item.boardKey}')|"><abbr TITLE="삭제"><i class="uil uil-trash-alt"></i></abbr></li>
                                </ul>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <th:block th:if="${pagination} != null" th:replace="thymeleaf/fragment/page :: paging-list(${pagination})"></th:block>
        </div>
    </div>

    <script>
        $(document).ready(function (){
            fnGetList();
        });

        function fnGetList(){
            ajaxView("/cms/post/list","POST",$("form[name=boardFrm]").serialize(),"boardList");
        }

        function fnMovePage(page){
            $("input[name=page]").val(page);
            fnGetList();
        }

        function fnSearch(){
            $("input[name=page]").val(1);
            fnGetList();
        }

        function fnDeleteBoard(boardKey){
            if(confirm("Do you want delete?")){
                $.ajax({
                    url:"/cms/post/delete",
                    type :  "POST",
                    dataType : "json",
                    data : {
                        "boardKey" : boardKey
                    },
                    success : function(response){
                        if(response.check){
                            toastr.success('Post is deleted.')
                            fnGetList();
                        } else {
                            toastr.error(response.message);
                        }
                    }
                });
            }
        }


        function fnSendBoard(boardKey){
            if(confirm("Do you want push message?")){
                $.ajax({
                    url:"/cms/post/send",
                    type :  "POST",
                    dataType : "json",
                    data : {
                        "boardKey" : boardKey
                    },
                    success : function(response){
                        if(response.check){
                            toastr.success('success');
                            fnGetList();
                        } else {
                            toastr.error(response.message);
                        }
                    }
                });
            }
        }
    </script>
    <th:block layout:fragment="script">
    </th:block>
</th:block>
</html>