<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/main_layout">

<th:block layout:fragment="content">
    <!-- 비주얼영역 -->
    <div class="error-vegas" style="background: #999999">

    </div>
    <div class="main-qna">
        <div style="height: 900px;">
            <h2>&nbsp;</h2>
            <h2>&nbsp;</h2>
            <h2>404 not Found</h2>
        </div>
    </div>
    <!-- 비주얼영역 끝 -->
</th:block>
</html>