<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/main_layout">

<th:block layout:fragment="content">
    <div class="common-error">
        <div>
            <h2>&nbsp;</h2>
            <h2>&nbsp;</h2>
            <h2>&nbsp;</h2>
            <h2>500 ERROR</h2>
            <h2>&nbsp;</h2>
            <h2><img src="/assets/image/error/error_icon.png"></h2>
            <h2>&nbsp;</h2>
            <h2 style="font-size: 22px;">Please check the URL and try again.</h2>
        </div>
    </div>
</th:block>
</html>