<!DOCTYPE html>

<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no,maximum-scale=1,width=device-width" />
    <meta name="title" content="코잼COJAM – Blockchain based Online Social Prediction Platform " />
    <meta name="description" content="Predict whenever and wherever you are – 언제 어디서나 즐기는 예측 플랫폼" />
    <meta name="keywords" content="코잼,COJAM" />
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.cojam.io/user/home">
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="COJAM">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.cojam.io/">
    <meta property="og:title" content="코잼COJAM – Blockchain based Online Social Prediction Platform">
    <meta property="og:image" content="/assets/image/common/meta_img.jpg">
    <meta property="og:description" content="Predict whenever and wherever you are – 언제 어디서나 즐기는 예측 플랫폼" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="코잼COJAM – Blockchain based Online Social Prediction Platform">
    <meta name="twitter:description" content="Predict whenever and wherever you are – 언제 어디서나 즐기는 예측 플랫폼">
    <meta name="twitter:domain" content="https://twitter.com/OfficialCojam">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>코잼COJAM – Blockchain based Online Social Prediction Platform</title>
    <link rel="shortcut icon" href="/assets/image/common/favicon.ico">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- config fragment 사용 -->
    <style>
        #back{
            position: absolute;
            z-index: 100;
            background-color: #000000;
            display:none;
            left:0;
            top:0;
        }
        #loadingBar{
            position:absolute;
            left:50%;
            top: 40%;
            display:none;
            z-index:999999;
        }
    </style>
    <th:block th:replace="thymeleaf/fragment/config :: configFragment" ></th:block>

</head>

<body>
    <div class="wrap">
        <!-- header fragment 사용 -->
        <th:block th:replace="thymeleaf/fragment/header :: headerFragment"></th:block>
        <!--
            content fragment 사용
            현재 layout을 사용하는 content fragment의 내용을 삽입한다.
        -->
        <th:block layout:fragment="content"></th:block>
        <!-- footer fragment 사용 -->
        <th:block th:replace="thymeleaf/fragment/footer :: footerFragment"> </th:block>
    </div>
    <!-- 각 페이지의 스크립트가 작성될 위치 -->
    <th:block layout:fragment="script"></th:block>
</body>

</html>