<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layout/cms_default_layout">
<th:block layout:fragment="content">
    <div class="content">
        <th:block th:if="${detail}==null">
            <script>
                alert('no data!');
                window.history.back();
            </script>
        </th:block>
        <div class="table-title">
            <h2><i class="uil uil-file-redo-alt"></i>  Season > Add season</h2>
        </div>
        <form name="seasonFrm" id="seasonFrm" method="post">
            <input type="hidden" name="seasonKey" th:value="${detail.seasonKey}">
            <fielset>
                <div class="season-form-wrap">
                    <h2>Detail of Season</h2>
                    <table class="season-form">
                        <colgroup>
                            <col width="350px"/>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>Title</th>
                            <td>
                                <input type="text" name="title" placeholder="제목을 입력해주세요." th:value="${detail.title}">
                            </td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>
                                <input type="text" name="description" placeholder="자세한 설명을 입력해주세요." th:value="${detail.description}">
                            </td>
                        </tr>
                        <tr>
                            <th>Minimum Amount</th>
                            <td><input type="number" name="minimumPay" th:value="${detail.minimumPay}"></td>
                        </tr>
                        <tr>
                            <th>Maximum Amount</th>
                            <td><input type="number" name="maximumPay" th:value="${detail.maximumPay}"></td>
                        </tr>
                        <tr>
                            <th>COJAM Fee(%)</th>
                            <td><input type="number" name="cojamFee" th:value="${detail.cojamFee}"></td>
                        </tr>
                        <tr>
                            <th>Creator Fee(%)</th>
                            <td><input type="number" name="creatorFee" th:value="${detail.creatorFee}"></td>
                        </tr>
                        <tr>
                            <th>Creator Salary</th>
                            <td><input type="number" name="creatorPay" th:value="${detail.creatorPay}"></td>
                        </tr>
                        <tr>
                            <th>Transfer Minimum Pay</th>
                            <td><input type="number" name="transferPay" th:value="${detail.transferPay}"></td>
                        </tr>
                        <tr>
                            <th>Charity Fee(%)</th>
                            <td><input type="number" name="charityFee" th:value="${detail.charityFee}"></td>
                        </tr>
                        <tr>
                            <th>Category Limitaion</th>
                            <td>
                                <table>
                                    <colgroup>
                                        <col width="200px"/>
                                    </colgroup>
                                    <th:block th:if="${ctgrList}!=null">
                                        <tr th:each="item : ${ctgrList}">
                                            <th th:text="${item.categoryName}"></th>
                                            <td><input th:name="${item.categoryKey}" type="number" th:value="${item.limitation}"></td>
                                        </tr>
                                    </th:block>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th>Alpha Date</th>
                            <td><input name="alphaDttm" type="text" class="date-icon" th:value="${#dates.format(detail.alphaDttm,'yyyy-MM-dd hh:mm:ss')}" placeholder="Please enter a date" /></td>
                        </tr>
                        <tr>
                            <th>Omega Date</th>
                            <td><input name="omegaDttm" type="text" class="date-icon" th:value="${#dates.format(detail.omegaDttm,'yyyy-MM-dd hh:mm:ss')}" placeholder="Please enter a date" /></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fielset>
        </form>
        <div class="form-button">
            <a href="/cms/season">Cancel</a>
            <a href="javascript:fnSaveSeason()" style="background-color:#8950fc; color: #fff;">Update</a>
        </div>
    </div> <!--.content -->
    <script>
        $(document).ready(function (){
            $(".date-icon").datetimepicker({
                dateFormat:'yy-mm-dd',
                // timepicker 설정
                timeFormat:'hh:mm:ss',
                //controlType:'select',
                //oneLine:true,
            });
        });

        function fnSaveSeason(){
            if(confirm("Do you want update season?")){
                $.ajax({
                    url: "/cms/season/update",
                    type: "POST",
                    data : $("form[name=seasonFrm]").serialize(),
                    success : function(response){
                        if(response.check){
                            toastr.success('success');
                        } else {
                            toastr.error(response.message);
                        }
                    }
                });
            }
        }
    </script>
</th:block>
</html>